@import url(./_variables.css);
@import url(./fonts.css);


:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'SpaceMono-Regular';
  line-height: 1.6;
}

.container {
  width: 80%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-item {
  margin-right: 32px;
  /* width: 100%; */
}

#navbar .navbar-links .navbar-item:last-child {
  margin-right: 0;
}

.home-link {
  margin-right: 60px;
}

.home-link,
.navbar-link {
  font-family: 'SpaceMono-bold';
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: var(--dim-grey);
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}

.navbar-link {
  justify-content: center;
  /* width: 100%; */
  /* padding: 0.4em 0.8em;
  border-radius: 5px; */
}

.navbar-link:focus,
.navbar-link:hover {
  color: var(--yellow);
}


.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out,
              opacity 0.2s ease-in-out;
  background-color: var(--yellow);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: var(--yellow);
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

#navbar-menu {
  /* width: 0; */
  position: fixed;
  top: 58px;
  bottom: 0;
  transition: opacity 0.2s ease-in-out,
              visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

#navbar.opened #navbar-menu {
  /* background-color: #333A44; */
  opacity: 1;
  visibility: visible;
  width: 80%;
  padding: 24px 32px;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  /* background-color: var(--navbar-bg-color); */
  display: flex;
  flex-direction: column;
  align-items: start;
  left: 0;
  right: 0;
  /* margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.3); */
}

#navbar.opened .navbar-links {
  padding-left: 32px;
  padding-top: 40px;
  max-height: none;
}

.get-scootin {
  font-family: 'SpaceMono-bold';
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--yellow);
  padding: 14px 38px;
  border: 2px solid var(--yellow);
  cursor: pointer;
  transition: all .3s ease;
}

.get-scootin:hover {
  background-color: transparent;
  color: var(--yellow);
}

@media screen and (max-width: 810px) {
  .container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .home-link {
    margin-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .home-link {
    margin-right: 20px;

  }

  .get-scootin {
    font-size: 12px;
    line-height: 20px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 565px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-item {
    margin-right: 15px;
  }
  .navbar-link {
    font-size: 13px;
    line-height: 20px;
  }
  .home-link img {
    width: 75px;
  }
}

@media screen and (max-width: 445px) {
  .home-link {
    margin-right: 15px;
  }
  .home-link img {
    width: 60px;
  }
  .get-scootin {
    font-size: 10px;
    line-height: 15px;
    padding: 5px 10px;
  }
  .navbar-item {
    margin-right: 10px;
  }
  .navbar-link {
    font-size: 11px;
    line-height: 15px;
  }

}

@media screen and (max-width: 375px) {
  .get-scootin {
    display: none;
  }

  #navbar.opened #navbar-menu {
     background-color: #333A44;
  }

  #navbar-menu {
    width: 0;
  }

  .logo-container {
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .navbar-toggle {
    position: absolute;
    left: 0;
    top: -12px;
  }

  .navbar-link {
    color: var(--light-grey);
    font-size: 18px;
    line-height: 25px;
  }

  .navbar-item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #navbar-menu .get-scootin {
    display: block;
    width: calc(80% - 64px);
    position: fixed;
    bottom: 24px;
    font-size: 15px;
  line-height: 25px;
  }
}

@media screen and (min-width: 375px) {
  .navbar-toggle  {
      display: none;
  }

  #navbar-menu .get-scootin {
    display: none;
  }

  #navbar #navbar-menu,
  #navbar.opened #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
  }

  #navbar .navbar-links,
  #navbar.opened .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      list-style-type: none;
      max-height: max-content;
      width: 100%;
      height: 100%;
  }

  #navbar .navbar-link:last-child {
      margin-right: 0;
  }
}